<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :image, "image:", class: 'form-label' %>
    <%= form.file_field :image %>
    <% if @article.image.attached? %>
      <h5>Current image:</h5>
      <%= image_tag(@article.image, style: "height: 96px; width: 96px;") %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>